@media screen and (max-width:768px) {
    .menu{
        width: 70%;
        background-color: red;
        height: 100vh;
        position: absolute;
        top: 0%;
        text-align: center;
    }
    .menulist{
        align-items: start;
        flex-direction: column;
      
    }
    .menubtn{
        display: flex;
    }
    .listitem{
        background-color: green;
        margin: 20% 0;
        padding: 5% 0;
        align-self: center;
    }
}
@media screen and (min-width:768px){
    .menulist{
        display: flex;
    }
    .menubtn{
        display: none;
    }
}