*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
.logo{
    margin-left: 20px;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}
.menulist ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.menulist ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: red;
    font-size: 1.2rem;
    padding: 15px 10px;
    margin: 0 5px;
}

@media screen and (max-width:768px) {
    .menuicon{
        width: 40px;
        height: 40px;
        background-color: transparent;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 2%;
        cursor: pointer;
    }
    .line{
        
        display: block;
        height: 4px;
        margin: 5px 0;
        background-color: white;
        border-radius: 5vmax;
        transition: all 0.2s;
    }
    .line1{
        width: 30%;
    
    }
    .lineactive1{
        width: 90%;
        transform-origin: right;
        transform: translate(-5px,-3px) rotate(-45deg);
    }
    .line2{
        width: 50%;
    }
    .lineactive2{
        width: 90%;
        transform: translate(-100%);
        opacity: 0;
    }
    .line3{
        width: 70%;
    }
    .lineactive3{
        width: 90%;
        transform-origin: right;
        transform: translate(-5px,3px) rotate(45deg);
    }
    .menulist{
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: green;
        height: 0;
        overflow: hidden;
        transition: 0.2s;
    }
    /* .menulist.acitve{
        height: 420px;
    } */
    .menulist ul{
        display: block;
        width: fit-content;
        margin: 80px auto;
        text-align: center;
        transition: .5s;
    }
    .menulist ul li{
        margin-bottom:  15px;
    }
}